body {
    font-family: 'Epilogue', sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #f8f8f8;
    font-size: 14px;
    font-weight: 500; 
    line-height: 21px;
    color: #171412; 
}