.destacados { 
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}
.destacados h2 {
    padding-left: 20px; 
    text-align: left; 
    margin-bottom: 25px;
    font-size: 1.6rem;
    font-weight: 700; 
}
.productosContenedor { 
    padding: 0 20px; 
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}
.tarjetaProducto { 
    flex: 0 0 auto; 
    text-align: left;
}
.tarjetaProducto img {
    width: 249px; 
    height: 249px;
    border-radius: 8px;
    object-fit: contain; 
    background-color: #f0f0f0; 
}
.tarjetaProducto h3 {
    margin: 10px 0 5px 0;
    font-size: 1.2rem;
    font-weight: 700;
}
.tarjetaProducto p {
    margin: 0;
    color: #8A7561;
    font-size: 14px; 
}