.piePagina { 
    padding: 30px 10%;
    background-color: #f8f8f8;
    text-align: center;
    font-size: 0.85rem;
    color: #666;
    max-width: 960px;
    margin: 0 auto;
}
.enlacesLegales { 
    display: flex;
    justify-content: space-between; 
    width: 100%;  
    margin-bottom: 10px;
}

.enlacesLegales a {
    text-decoration: none;
    color: #666;
    font-weight: 500;
}
.derechosReservados {
    margin-top: 20px;
    font-size: 0.85rem;
}
