.informacionExtra {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 20px;
    line-height: 1.6;
}
.informacionExtra h2 {
    font-size: 1.4rem;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700; 
}
.informacionExtra p {
    margin-bottom: 20px;
}